@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
}

.navbar {
    z-index: 1000;
}

.btn-logo {
    background: #01adf2;
    border: none;
}

.btn-logo:hover {
    background: #0299d6;
}